<br>
<div class="container">
  <h1 class="text-center">Blocipedia: Social, Markdown Wiki</h1>
  <br>
  <% if !current_user %>
    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <div class="jumbotron">
          <h3 class="text-center">Create and share Markdown Wikis</h3>
          <br>
          <div class="col-md-6 text-right">
            <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
          </div>
          <div class="col-md-6 text-left">
            <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <h2>Free Plan</h2>
        <p class="lead"><%= Faker::Hipster.sentence %></p>
      </div>
      <div class="col-md-6 text-center">
        <h2>Premium Plan</h2>
        <p class="lead"><%= Faker::Hipster.sentence %></p>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <div class="jumbotron">
          <h3 class="text-center">Create and share Markdown Wikis</h3>
          <br>
          <br>
          <div class="text-center">
            <%= link_to "Go to Wikis", wikis_path, class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      </div>
    </div>
    <% if current_user.standard? %>
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6 text-center">
          <h2><%= link_to "Upgrade to Premium today!", new_charge_path %></h2>
          <p class="lead"><%= Faker::Hipster.sentences(2).join(" ") %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
