%h2 Edit
.row
  .col-md-8
    = render partial: 'form', locals: {wiki: @wiki, cancel_path: wiki_path(@wiki)}
  .col-md-4
    - if @wiki.private
      %h4 Collaborators
      %ul
        - @collaborators.each do |collaborator|
          %li
            = user_info(collaborator.user_id).username
            - if is_authorized_to_adjust_collaborators?(@wiki)
              \- #{link_to "Remove", collaborator_path(collaborator), method: :delete, class: 'btn btn-danger btn-xs'}
      %br/
      - if @users.count > 0 && is_authorized_to_adjust_collaborators?(@wiki)
        %h5 Add more collaborators:
        = form_for @collaborator do |f|
          .form-group
            = f.select :user_id, [], {}, {class: 'form-control'} do
              - @users.each do |user|
                = content_tag :option, user.username, value: user.id
          = f.text_field 'wiki_id', value: @wiki.id, hidden: true
          .form-group
            = f.submit "Add User", class: "btn btn-success btn-sm"
