<div class="row">
  <div class="col-sm-4">
    <h2>All Wikis</h2>
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success btn-sm' %>
  </div>
  <% if current_user.standard? %>
    <div class="col-sm-8 text-center">
      <h4><%= link_to "Upgrade to Premium", new_charge_path %></h4>
      <p class="lead"><small>Post privately today.</small></p>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="container">
    <table class="table table-hover">
      <thead>
        <td width="70%"><h4>Wiki Title</h4></td>
        <td width="30%"><h4>Actions</h4></td>
      </thead>
      <tbody>
        <% @wikis.each do |wiki| %>
        <tr>
          <td><%= link_to wiki.title, wiki %></td>
          <td>
            <%= link_to "Edit", edit_wiki_path(wiki), class: 'btn btn-primary btn-xs' %>
            <% if policy(wiki).destroy? %>
              <%= link_to "Delete", wiki_path(wiki), method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: "Are you sure you want to delete this wiki?"} %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
