<h2><%= @wiki.title %></h2>
<div class="row">
  <div class="container">
    <div class="col-md-8">
      <%= @wiki.body %>
    </div>
    <div class="col-md-4">
      <h4>by <%= @wiki.user.username %></h4>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-primary' %>
      <% if policy(@wiki).destroy? %>
        <%= link_to "Delete", wiki_path(@wiki), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this wiki?"} %>
      <% end %>
    </div>
  </div>
</div>
